{% extends 'base.html' %}
{% load static %}

{% block title %}Add / Edit Address{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'users/address_form.css' %}">

<div class="address-form-wrapper">
    <div class="address-form-card">
        <h2 class="address-form-title">Add / Edit Address</h2>
        <form method="POST" class="address-form" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="address-btn-save">Save</button>
        </form>
    </div>
</div>
{% endblock %}
